
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

@using(Html.BeginForm("AddCustomer","Admin",FormMethod.Post))
{
  <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
               
                <h4>Merhabalar,</h4>
                <h6 class="font-weight-light">Üye Eklemek İçin..</h6>
                <form class="pt-3">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="RegisterName" placeholder="Ad" name="Name" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="RegisterSurname" placeholder="Soyad" name="Surname" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="RegisterIdNo" placeholder="Türkiye Cumhuriyeti Kimlik Numarası veya Pasaport Numarası" name="TcNo" required>
                  </div>
                  <div class="form-group">
                    <input type="tel" class="form-control form-control-lg" id="RegisterTel" placeholder="Telefon Numarası" name="PhoneNumber" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="RegisterAdress" placeholder="Adres" name="Adress" required>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="RegisterEmail" placeholder="Email" name="Email" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="RegisterPassword" placeholder="Şifre" name="Password" required>
                  </div>
                      <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">Üyeyi Kaydet</button>
                </div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <style>
      a{
          color:black;
      }
      a:hover{
          color:black;
      }
  </style>
  }